<ion-header>
  <ion-toolbar>
    <ion-title>Get Started</ion-title>
  </ion-toolbar>
</ion-header>

<div class="parentContainer">
  <div class="container">
    <p class="pGray">
      By continuing using our app, you agree on accept the <a href="#">Terms and Condition & Privacy Policy</a> and that you are at least 18 years of age.
    </p>
    <ion-button size="large" expand="block">
      <ion-icon slot="start" name="logo-google"></ion-icon>
      <span>Join with Google</span>
    </ion-button>
    <ion-button size="large" expand="block">
      <ion-icon slot="start" name="logo-facebook"></ion-icon>
      <span>Join with Facebook</span>
    </ion-button>
    <ion-button fill="outline" size="large" expand="block">
      <ion-icon slot="start" name="mail-outline"></ion-icon>
      <span>Join with E-mail</span>
    </ion-button>
  </div>
  <div class="container">
    <h2>Already a member?</h2>
    <ion-button href="./login" routerDirection="forward" fill="clear">Tap here to login</ion-button>
  </div>
</div>
