ion-slides {
  height: 100%;
}

.swiper-slide {
  display: block;

  h2 {
    margin-top: 2.8rem;
  }

  .slideImage {
    max-height: 50%;
    max-width: 55%;
    margin: 60px 0 0;
    pointer-events: none;
    height: 25vh;
    object-fit: contain;

    &.big {
      max-width: 90%;
      height: 30vh;
    }
  }
}

b {
  font-weight: 500;
}

p {
  padding: 0 40px;
  font-size: 14px;
  line-height: 1.5;
  color: var(--ion-color-step-600, #60646b);

  b {
    color: var(--ion-text-color, #000000);
  }
}

ion-button {
  width: 100%;
}

.relative {
  position: relative;

  .forceBottom {
    width: 99%;
    position: absolute;
    bottom: 0;
    left: 0;
  }
}
