.container {
  display: flex;
  width: 100%;
  height: 100%;
}

.backButton {
  position: fixed;
  bottom: 1.2rem;
  left: 1rem;
}

.addButton {
  position: absolute;
  bottom: 1.2rem;
  right: 1rem;
}

.saveRouteButton {
  position: absolute;
  bottom: calc(112px + 2.2rem);
  right: 1rem;
}

.createRouteButton {
  position: absolute;
  bottom: calc(56px + 1.7rem);
  right: 1rem;

  ion-icon {
    color: white;
  }
}

.deleteRouteButton {
  position: absolute;
  bottom: 1.2rem;
  right: calc(56px + 1.7rem);

  ion-icon {
    color: white;
  }
}
